<div class="main_component">
  <div class="account">
    <mat-card>
      <mat-card-header>
        <mat-card-title><h2>Felhasználói adatok</h2></mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>
        <p><mat-icon matIconPrefix>face</mat-icon>{{user?.name}}</p>
        <p><mat-icon matIconPrefix>email</mat-icon>{{ user?.email }}</p>
        <p><mat-icon matIconPrefix>phone</mat-icon>{{ user?.phone }}</p>
        <p><mat-icon matIconPrefix>list_alt</mat-icon>{{ user?.package == "" ? "Jelenleg nincsen mobilcsomagod!" : user?.package }}</p>
      </mat-card-content>
      <mat-card-actions>
        <dialog-delete></dialog-delete>
      </mat-card-actions>
    </mat-card>
  </div>
  <app-bonuses></app-bonuses>
</div>
