<mat-nav-list>
  <a mat-list-item routerLink="/login" (click)="close()" *ngIf="!loggedInUser">
    <mat-icon matIconPrefix>login</mat-icon>
    <span>Bejelentkezés</span>
  </a>
  <a mat-list-item routerLink="/register" (click)="close()" *ngIf="!loggedInUser">
    <mat-icon matIconPrefix>app_registration</mat-icon>
    <span>Regisztráció</span>
  </a>
  <a mat-list-item routerLink="/login" (click)="close(true)" *ngIf="loggedInUser">
    <mat-icon matIconPrefix>logout</mat-icon>
    <span>Kijelentkezés</span>
  </a>
  <a mat-list-item routerLink="/main" (click)="close()">
    <mat-icon matIconPrefix>house</mat-icon>
    <span>Főoldal</span>
  </a>
  <a mat-list-item routerLink="/account" (click)="close()"  *ngIf="loggedInUser">
    <mat-icon matIconPrefix>person</mat-icon>
    <span>Fiókom</span>
  </a>
</mat-nav-list>
