div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
  margin: 80px 100px 0 100px;
  padding: 10px;
}

.table {
  height: 70vh;
}

mat-divider{
  margin: 10px 0;
}

@media screen and (max-width: 900px) {
  div{
    margin: 0;
  }
}
