<div class="main_component">
  <div class="package" *ngFor="let phonePackage of packages | async">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ phonePackage.title }}</mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>
        <p>{{ phonePackage.description }}</p>
        <p>{{ phonePackage.price | priceFormat}} </p>
      </mat-card-content>
      <mat-card-actions>
        <dialog-animations [phonePackage]="phonePackage" (buy)="buyPackage($event)" ></dialog-animations>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
