/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.spinner {
  position: fixed !important;
  top: 50% !important;
  left: 50%!important;
  transform: translate(-50%, -50%)!important;
  z-index: 999!important;
}

.spinner-container{
  content: ''!important;
  display: block!important;
  position: fixed!important;
  z-index: 999;
  top: 0!important;
  left: 0!important;
  bottom: 0!important;
  right: 0!important;
  width: 100vw!important;
  height: 100vh!important;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8)!important;
}
